/* -------------------- Head -------------------------*/
.geek_head{
  width: 100%;
  background-color: #5300C8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.geek_container_head{
  display: flex;
  align-items: center;
}
.imgGeek{
  width: 138px;
  height: 56px;
}
.titulo_Geek{
width: 138px;
height: 80px;
font-family: 'Press Start 2P';font-size: 22px;
font-size: 24px;
color: #E5E5E5;
align-content: center;
}

/* -------------------- End Head -------------------------*/

/* Pantalla en 2*/
main{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  width: 100%;
  height: 100%;
}
.container section {
  flex: 1;
}

/*-----------------------*/

/*---------------------------- CARDS ----------------------------*/

.productos_titulo{
  display: flex;
  font-family: 'Press Start 2P';font-size: 22px;
  color: #000000;
  justify-content: center;
  padding: 35px;
}

.productos_container{
  
  -webkit-box-shadow: -14px 15px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -14px 15px 6px 1px rgba(0,0,0,0.75);
  box-shadow: -14px 15px 6px 1px rgba(0,0,0,0.75);
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1em;
  margin-bottom: 10px;
  margin-left: 1em;
  
  /* Scroll */
  height: 32rem;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}
.cartas{
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
}


.card__item{
  display: flex;
  width: 29%;
  height: 41%;
  background-color: #7e2ed4;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #000000;
  margin-bottom: 15px;
}
.image_geek{
  width: 175px;
  height: 160px;
  border: 2px solid #000000;
}
.nombre_card{
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
}
.card_container_value{
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 15px;
}

/* --------------------------------------------------------------*/



/* ------------------------------------ FORMULARIO ------------------*/


.form_titulo{
display: flex;
font-family: 'Press Start 2P';font-size: 22px;
color: #000000;
justify-content: center;
margin-top: 35px;
}
.form_titulo2{
display: flex;
font-family: 'Press Start 2P';font-size: 22px;
color: #000000;
justify-content: center;
}

.form{
display: flex;
flex-direction: column;
padding: auto;
height: 100%;
align-items: center;
margin-top: 23px;
}

.campo__completo{
color: #000000;
border: 2px solid #8707ff;
border-radius: 10px;
padding: 10px;
background: transparent;
max-width: 190px;
}
.formulario_campo{
margin-top: 15px;
margin-bottom: 15px;
}
.formulario__boton__enviar{
width: 48%;
height: 15%;
border: none;
border-radius: 0.625em;
background-color: #03318C;
color: white;
}
.formulario__boton__limpiar{
width: 48%;
height: 15%;
border: none;
border-radius: 0.625em;
background-color: white;
border: 2px solid #03318C;
color: #03318C;
}

/* ------------------------------------------------------*/

/* ------------------------------ FOOTER -----------------*/

.footer-content{
display: flex;
width: 100%;
height: 100%;
background-color: #5300C8;
display: flex;
align-items: center;
justify-content: center;

flex-direction: column
}
.footer_geek{
display: flex;
align-items: center;
}
.imgGeek_footer{
width: 160px;
height: 165p
}
.title{
height: 80px;
font-family: 'Press Start 2P';
font-size: 24px;
color: #E5E5E5;
align-content: center;
}
.developed_footer{
display: flex;
flex-direction: column;
align-items: center;
}
.developed_by{
color: #FFFFFF;
}
.year{
color: #FFFFFF;
}